<!--SHOWS WHEN NURSES ARE LOADING IN ALL NURSES BOX-->
<div *ngIf="loading == 'loading'" class="container">
  <div class="allNurses">
    <h1 style="font-weight: 300">Please wait, loading data...</h1>
  </div>
</div>

<!--SHOWS WHEN NURSES ARE NOT LOADED, BUTTON PROMPTED TO LOAD DATA-->
<div *ngIf="loading == ''" class="container">
  <div class="allNurses">
    <button (click)="getNurses()">Get Nurses From Servers</button>
  </div>
</div>

<!--SHOWS WHEN NURSES ARE LOADED AND READY TO BE SELECTED-->
<div *ngIf="loading == 'done'" class="container">
  <!--SHOWS ALL NURSES PANEL-->
  <div class="allNurses">
    <!--NURSE DESCRIPTION (UNSELECTED)-->
    <div *ngFor="let nurse of nurses; let i = index" class="card">
      <h2>{{ nurse.name }}</h2>
      <h4>Experience: {{ nurse.total_experience }}</h4>
      <h4 *ngIf="nurse.zsr_number !== null">
        {{ nurse.zsr_number + " Years" }}
      </h4>
      <h4>Address: {{ nurse.address }}</h4>

      <div class="services">
        <div *ngFor="let service of nurse.services" class="serviceBubble">
          {{ service.service.name_en }}
        </div>
      </div>

      <div class="userControls">
        <button (click)="addNurse(i)" class="usrBtn">Select Nurse</button>
        <button
          routerLink="profile"
          (click)="sendNurseData(i)"
          class="usrBtn"
          style="background-color: rgb(72, 132, 254)"
        >
          View Profile
        </button>
        <button
          (click)="displayModal(i)"
          class="usrBtn"
          style="background-color: rgb(232, 108, 0)"
        >
          Schedule Visit
        </button>
      </div>
    </div>
  </div>

  <!--CENTRAL PANEL-->
  <div class="controls">
    <button (click)="selectAll()" style="margin-bottom: 5px">Select All</button>

    <button (click)="deselectAll()" style="margin-top: 5px">
      Deselect All
    </button>
  </div>

  <!--SHOWS SELECTED NURSES PANEL-->
  <div class="selectedNurses">
    <!--NURSE DESCRIPTION (SELECTED) -->
    <div *ngFor="let nurse of selectedNurses; let i = index" class="card">
      <h2>{{ nurse.name }}</h2>
      <h4>Experience: {{ nurse.total_experience }}</h4>
      <h4 *ngIf="nurse.zsr_number !== null">
        {{ nurse.zsr_number + " Years" }}
      </h4>
      <h4>Address: {{ nurse.address }}</h4>

      <div class="services">
        <div *ngFor="let service of nurse.services" class="serviceBubble">
          {{ service.service.name_en }}
        </div>
      </div>

      <div class="userControls">
        <button (click)="removeNurse(i)" class="usrBtn">Remove Nurse</button>
        <button class="usrBtn" style="background-color: rgb(72, 132, 254)">
          View Profile
        </button>
        <button class="usrBtn" style="background-color: rgb(232, 108, 0)">
          Schedule Visit
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading == 'error'" class="container">
  <div class="selectedNurses">
    <p style="font-size: 30px; font-weight: 300">Error encountered.</p>
  </div>
</div>

<!--SCHEDULE BOX FOR NURSE-->
<div *ngIf="showModal" class="modal">
  <div class="schedBox">

    <div class="schedHeader">
      <p style="font-weight: 500; font-size: large; margin-left: 10px">
        Schedule Modal
      </p>
      <button (click)="closeModal()" class="closeBtn">X</button>
    </div>
    

    <!-- <div class="nurseSchedule">Name: {{ scheduledNurse?.name }}</div> -->
  </div>
</div>
