div.card {
    border: 1px solid;
    border-radius: 6px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 10px;
}


div.container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    position: absolute;
    flex-direction: row;
    top: 120px;
    left: 0px;
    width: 100%;
    height: 650px;
    border: 0.5px solid;
    box-sizing: border-box;
    justify-content: space-between;
}

div.allNurses {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 650px;
    overflow-y: scroll;
    height: 650px;
    align-items: center;
    box-sizing: border-box;
}


div.selectedNurses {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    border: 0.5px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 650px;
    overflow-y: scroll;
    height: 650px;
    align-items: center;
    box-sizing: border-box;
}

div.services {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: max-content;
    width: 100%;
    padding: 10px;
}

div.serviceBubble {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500; text-align: center;
    background-color: rgba(158, 208, 237, 0.734); color: rgb(84, 136, 214);
    border-radius: 25px; border: none;
    height: max-content; width: max-content; padding: 10px;
    margin-right: 5px; margin-bottom: 5px;
}

div.userControls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    width: 100%;
}

button.usrBtn {
    width: 140px;
    height: 40px;
    font-weight: 500;
    font-size: 17px; letter-spacing: -0.5px;
    border: none; border-radius: 7px;
}


div.controls {
    justify-content: center;
    align-items: center;
    width: 220px;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}



button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    position: relative;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 5px;
    background-color: rgb(69, 177, 69);
    color: white;
}


h2,
h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}



div.modal{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%; width: 100%;
    display: flex;
    position: absolute; top: 0px; left: 0px;
    z-index: 100;
    background-color: rgba(155, 155, 155, 0.701);
    justify-content: center; align-items: center;
}

div.schedBox{
    display: flex; flex-direction: column; flex-wrap: wrap;
    height: 600px; width: 600px;
    border: none; background-color: white;
    border: 10px solid rgb(180 217 243)
}
div.schedHeader{
    display: flex; flex-direction: row; justify-content: space-between; align-content: center;
    border: 1px solid;
    width: 100%; height: max-content;
}
button.closeBtn{
    position: relative; top: 10px; right: 5px;
    
    height: 30px; width: 30px; background-color : red;
}
h1{
    font-weight: 300; letter-spacing: -0.5px;
}

