<!--SHOWS WHEN NURSES ARE LOADING IN ALL NURSES BOX-->
<div *ngIf="loading == 'loading'" class="container">
  <div class="allNurses">
    <h1 style="font-weight: 300">Please wait, loading data...</h1>
  </div>
</div>

<!--SHOWS WHEN NURSES ARE NOT LOADED, BUTTON PROMPTED TO LOAD DATA-->
<div *ngIf="loading == ''" class="container">
  <div class="allNurses">
    <button (click)="getNurses()">Get Nurses From Servers</button>
  </div>
</div>

<!--SHOWS WHEN NURSES ARE LOADED AND READT TO BE SELECTED-->
<div *ngIf="loading == 'done'" class="container">
  <!--SHOWS ALL NURSES PANEL-->
  <div class="allNurses">
    <div *ngFor="let nurse of nurses" class="card">
      <h2>{{ nurse.name }}</h2>
      <h4>Experience: {{ nurse.total_experience }}</h4>
      <h4 *ngIf="nurse.zsr_number !== null">
        {{ nurse.zsr_number + " Years" }}
      </h4>
      <h4>Address: {{ nurse.address }}</h4>
      <h4>
        Services:
        <ul *ngFor="let service of nurse.services">
          <li>
            {{ service.service.name_en }}
          </li>
        </ul>
      </h4>
    </div>
  </div>

  <div class="controls">
    <button (click)="selectAll()" style="margin-bottom: 5px">Select All</button>

    <button (click)="deselectAll()" style="margin-top: 5px">
      Deselect All
    </button>
  </div>

  <!--SHOWS SELECTED NURSES PANEL-->
  <div class="selectedNurses">

    <!--NURSE DESCRIPTION-->
    <div *ngFor="let nurse of selectedNurses" class="card">
      <h2>{{ nurse.name }}</h2>
      <h4>Experience: {{ nurse.total_experience }}</h4>
      <h4 *ngIf="nurse.zsr_number !== null">
        {{ nurse.zsr_number + " Years" }}
      </h4>
      <h4>Address: {{ nurse.address }}</h4>
      <h4>
        Services:
        <ul *ngFor="let service of nurse.services">
          <li>
            {{ service.service.name_en }}
          </li>
        </ul>
      </h4>
      <button>Select Nurse</button>
    </div>

  </div>
</div>

<div *ngIf="loading == 'error'">
  <p>Error encountered.</p>
</div>
