<div *ngIf="loading == 'loading'" class="container">
  <div class="allNurses">
    <h1 style="font-weight: 300">Please wait, loading data...</h1>
  </div>
</div>

<div *ngIf="loading == ''" class="container">
  <div class="allNurses">
    <button (click)="getNurses()">Get Nurses From Servers</button>
  </div>
</div>

<div *ngIf="loading == 'done'" class="container">
  <!--SHOWS ALL NURSES PANEL-->
  <div class="allNurses">
    <div *ngFor="let nurse of nurses" class="card">
      <h2>{{ nurse.name }}</h2>
      <h4>Experience: {{ nurse.total_experience }}</h4>
      <h4 *ngIf="nurse.zsr_number !== null">
        {{ nurse.zsr_number + " Years" }}
      </h4>
      <h4>Address: {{ nurse.address }}</h4>
      <h4>
        Services:
        <ul *ngFor="let service of nurse.services">
          <li>
            {{ service.service.name_en }}
          </li>
        </ul>
      </h4>
    </div>
  </div>

  <!--SHOWS SELECTED NURSES PANEL-->
  <div class="selectedNurses"></div>
</div>

<div *ngIf="loading == 'error'">
  <p>Error encountered.</p>
</div>
